* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.weatherform {
    margin: 20px;
}

.cityinput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    /* border: 5px solid #0f91b84d; */
    /* border-radius: 10px; */
    margin: 10px;
    width: 300px;
    background-color: black;
    color: White;
    border-radius: 5px;
}

.cityinput::placeholder {
    color: rgb(129, 21, 231);
    font-size: normal;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background: hsl(212, 88%, 53%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button[type="submit"]:hover {
    background: hsl(229, 92%, 30%);
}

.card {
    background-image: linear-gradient(rgba(69, 75, 83, 0.7), rgba(28, 45, 70, 0.7)), url(./weather.jpeg.jfif);
    padding: 50px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius:50%; */
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    margin: 0;
}

.cityDisplay,
.tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: White;
    margin-bottom: 25px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 7rem;
    Color: #e6e6e6;
}

.errorDisplay {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

@media(max-width:567px) {
    .cityinput {
        width: 200px;
        padding: 5px 10px;
        font-size: 18px;
    }

    button[type="submit"] {
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
        margin-left: 50px;
    }

    .card {

    background-image: linear-gradient(rgba(69, 75, 83, 0.7), rgba(28, 45, 70, 0.7)), url(./weather.jpeg.jfif);

        padding: 10px;
        width: 100%;
        font-size: 18px;
    }

    .weatherEmoji {
        margin: 0;
        font-size: 2rem;
    }

    h1 {
        font-size: 1rem;
        margin-top: 0;
    }

    .cityDisplay,
    .tempDisplay {
        font-size: 1.6rem;
    }

    .descDisplay {
        font-size: 1.4rem;
    }
}